<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Third day</title>
  </head>
  <body>
    <div id="app">
      <table>
        <caption>
          Table of students
        </caption>
        <tr>
          <th>ID</th>
          <th>ПІБ</th>
          <th>Група</th>
          <th>Рік народження</th>
          <th>Наявність ПР</th>
          <th>Дія</th>
        </tr>
        <tr v-for="st in students">
          <td>{{st.id}}</td>
          <td :class="st.class">{{st.pib}}</td>
          <td>{{st.group}}</td>
          <td>{{st.yearOfBirth}}</td>
          <td>
            <input
              type="checkbox"
              name="isPassed"
              v-if="st.isPassed==true"
              checked
            />
            <input type="checkbox" name="isPassed" v-else />
          </td>
          <td class="delete">
            <a href="#app" @click="deleteStudent(st.id)">Видалити</a>
          </td>
        </tr>
      </table>
      <div class="search">
        <label for="">Введіть прізвище</label>
        <input type="text" v-model="search" @input="searchStudents" />
      </div>
      <div class="newStudent">
        <button id="addNewStudent" @click="openBlock">
          Додати нового студента
        </button>
        <div class="addStudent">
          <form action="">
            <label for="pib">ПІБ студента</label>
            <input type="text" name="pib" v-model.trim="tempArray.pib" />
            <br />
            <label for="group">Група</label>
            <select name="group" id="" v-model="tempArray.group">
              <option value="1">Група 1</option>
              <option value="2">Група 2</option>
              <option value="3">Група 3</option>
            </select>
            <br />
            <label for="age">Рік народження</label>
            <input
              type="number"
              name="age"
              v-model.number="tempArray.yearOfBirth"
            />
            <br />
            <label for="pr">Наявність ПР</label>
            <input type="checkbox" name="pr" v-model="tempArray.isPassed" />
            <br />
            <button @click.prevent="addNewStudent">Добавити</button>
          </form>
        </div>
      </div>
      <div class="exercise">
        <span>Enter Age:</span>
        <input v-model.number="age" type="number" />
        {{age}}
        <br />
        <span>Enter Message:</span>
        <input v-model.lazy="msg" type="text" />
        {{msg}}
        <br />
        <span>Enter Message:</span>
        <input v-model.trim="message" type="text" />
        {{message}}
      </div>
    </div>
    <div id="databinding">
      <div
        v-bind:style="styleobj"
        @mouseover="changebgcolor"
        @mouseout="originalcolor"
      ></div>
    </div>
    <script src="../vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
